
body{
    font-family: 'Ewert', cursive;
    text-align: left;
    color: white; 
    background-image: url("../images/casino_table.png");
    background-position: center;
    background-size: cover; 
}

header{
    text-align: center;
    position: relative;
}


h1 {
    text-align: center;
    font-size: 40px; 
    padding: 0px;
    margin: 0px; 
    display: inline;
}

h3 { 
  font-size: 25px; 
  padding: 0px;
  margin: 0px; 
}


h2 {
    text-align: left; 
    font-size: 30px; 
    margin: 1%; 
    width: 50%; 

}

.cardSection{
        min-height: 200px; 
        width: 60%; 
        border-radius: 25px;
        background-image: url("../images/greenFelt.jpg"); 
        background-repeat: no;        
    } 


.playerInteraction{
    color: white;
    text-align: center;
    position: relative; 
    background-color: rgba(228, 232, 228, 0.3);
    border-color: 1px solid black;
    border-radius: 50px; 
    width: 520px; 
    height: 210px; 
    padding-top: 20px;  
    padding-bottom: 0px; 
    font-size: 20px; 
    font-family: 'Press Start 2P', cursive;
    margin-left: 520px;
    margin-bottom: 0px;
    margin-top: 20px; 
}

.girlHost{
    height: 300px; 
    display: block; 
    position: absolute; 
    top: 0px; 
    left: 500px; 
} 


.casinoHouse{
    height: 250px;
    position: center;  
}

.burnsHouse{
    height:210px;
    width: 280px;
    display: block;
    margin: 0 auto; 
}

.mainContain { 
    display: inline-block; 
}


.bart2{
    height: 300px; 
    display: block; 
    position: absolute; 
    top: 0px; 
    right: 500px; 
}


.playButtons{
    margin: 0 auto; 
    display: inline;
    margin: 0%;
    padding: 0%; 
}


.deal {
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #1575eb;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .hit {
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #00F000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }


  .stand {
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #F00000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  



.chip10{
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #0040F0;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .chip25{
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #2D5705;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  
  }
  
  .chip100{
    border-radius: 28px;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 10px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .reset{
  border-radius: 28px;
  font-family: 'Press Start 2P', cursive;
  color: #000000;
  font-size: 5px;
  background: #DBEB04;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  }