

body{
    font-family: 'Ewert', cursive;
    text-align: left;
    color: white; 
    margin: 0; 
    background-image: url("../images/greenFelt.jpg");
    display: inline;
}


h1 {
    text-align: center; 
    font-size: 50px; 
    padding: 0px;
    margin: 0px; 
}

h3 {
  padding: 0%;
  margin: 0%; 
  font-size: 30px; 
}


h2 {
    text-align: left; 
    margin: 0px 50px;
    font-size: 40px; 
    margin: 1%; 
    width: 50%; 

}





.deck{
    padding: 6%;
    width: 13%; 
    display: inline-block;

}


 /* .dealerHand{
    border: 5px rgba(218, 77, 17, 0.48);
    border-radius: 38%; 
    border-style: ridge;
    width: 40%;  
    float: right; 
    margin: .2%; 
    padding: 1%; 
    background-color: rgba(218, 77, 17, 0.48);
    
} */

.playerSection{

    background-color: rgba(70, 177, 70, 0.48);
    min-height: 265px; 
    width: 65%; 

} 


.dealerSection{
    
        background-color: rgba(70, 177, 70, 0.48);
        min-height: 265px; 
        width: 65%; 
    
    } 


/* .dCards{
    float: right; 
    margin: 2%;
}

.pCards{
    float: left; 
    margin: 2%;
} */

.buttons{
    align-content: center; 
    margin: 0 auto; 
    display: inline-block;
    margin: 0%;
    padding: 0%; 
}

.deal{
  font-size: 23px; 
}

.stand{
  font-size: 23px; 

}

.hit{
  font-size: 23px; 
}

.bet{
  font-size: 23px; 
}


input[type="number"]{
  font-size: 15px; 
}
